// 支持文件
@import "../../assets/scss/support";

.consult {
	color: #fff;
	.pclass {
		color: #f1f1f1;
	}
}
.consults {
	padding: 10px 30px;
	font-size: 16px;
	box-sizing: border-box;
	position: relative;

	.consult-txt {
		width: 100%;
		height: 260px;
		border: 1px solid #f1f1f1;
		padding: 5px;
		line-height: 22px;
		box-sizing: border-box;
	}
	.input-limit {
		position: absolute;
		right: 40px;
		bottom: 15px;
		font-size: 13px;
		color: #f1f1f1;
	}
}
.contacts {
	padding: 10px 30px;
	font-size: 16px;
	color: #fff;
	.input-txt {
		border: 1px solid #f1f1f1;
		padding: 5px;
		line-height: 22px;
	}

}
.btn-wrap {
	padding: 25px 30px;

	.btns {
		margin: 0 auto;
		width: 150px;
		height: 40px;
		background: $colorRed;
		color: #ffffff;
		font-size: 16px;
		border-radius: 6px;
		text-align: center;
		line-height: 40px;
	}

	.save {
		&:active {
			background: #FF4949;
		}
	}

	.clear {
		background: #b1b1b1;
	}
}
