// 支持文件
@import "../../assets/scss/support";

.consults {
	padding: 10px 30px;
	font-size: 16px;
	.consult-txt {
		width: 300px;
		border: 1px solid #f1f1f1;
		padding: 5px;
		line-height: 22px;
	}
}
.contacts {
	padding: 10px 30px;
	font-size: 16px;
	.input-txt {
		border: 1px solid #f1f1f1;
		padding: 5px;
		line-height: 22px;
	}

}
.btn-wrap {
	padding: 25px 30px;

	.btns {
		margin: 0 auto;
		width: 150px;
		height: 40px;
		background: $colorRed;
		color: #ffffff;
		font-size: 16px;
		border-radius: 6px;
		text-align: center;
		line-height: 40px;
	}

	.clear {
		background: #b1b1b1;
	}
}
