// 支持文件
@import "../../assets/scss/support";

.search-con {
	padding: 10px;
	margin-bottom: 10px;
	background: #282828;
	font-size: 16px;
	position: relative;
	color: #fff;
	.tits {
		line-height: 32px;
	}
	.input-txt {
		border: 1px solid #f1f1f1;
		padding: 5px;
		line-height: 22px;
	}

	.pcolor {
		color: #f1f1f1;
	}
	.stock-wrap {
		position: relative;

	}

	.stock-con {
		height: 240px;
		border: 1px solid #b1b1b1;
	}
	.stock-name {
		position: absolute;
		top: 0;
		right: 15px;
		line-height: 38px;
	}


	/*股票匹配*/
	.stock-match {
		padding: 3px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 20;
		box-sizing: border-box;
	}

	.item-wrap {
		padding: 0 5px;
		position: relative;
		.item-contain {
			margin-top: 10px;
		}
		.choose-item {
			width: 80px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			margin-right: 10px;
			margin-bottom: 10px;
			border: 1px solid #f1f1f1;
			border-radius: 5px;
		}

		.active {
			color: $colorRed;
			border: 1px solid $colorRed;
		}

		.rule-txt {
			position: absolute;
			top: 0;
			right: 30px;
			color: #f1f1f1;
			line-height: 38px;
		}
	}
}

.button-wrap {
	padding: 25px 30px;

	.consult-btn {
		margin: 0 auto;
		width: 310px;
		height: 40px;
		background: $colorRed;
		color: #ffffff;
		font-size: 16px;
		border-radius: 10px;
		text-align: center;
		line-height: 40px;
		&:active {
			background: #FF4949;
		}
	}
}
