// 支持文件
@import "../../assets/scss/support";

.container{
	color: #f1f1f1;
	padding-bottom: 60px;
	.header {
		padding: 10px;
		border-bottom: 1px solid #aaa;
		font-size: 13px;
		background: #282828;
	}

	.head-row-l {
		width: 50%;
		color: #b1b1b1;
		line-height: 30px;
		.total-num {
			color: #FF4949;
		}
	}

	.table-th {
		padding: 10px;
		.condition {
			height: 15px;
			font-size: 12px;
			text-align: center;
			color: #b1b1b1;
			text {
				line-height: 1.5;
				align-self: center;
			}
			image {
				width: 15px;
				height: 11px;
				align-items: center;
			}
		}
	}

	.table-wrap {
		padding:0 10px 10px;
		font-size: 14px;
	}
	.table {
		color: #b1b1b1;
		background: #282828;
		text-align: center;
		border-top: 1px solid #b1b1b1;
		border-left: 1px solid #b1b1b1;
	}

	.table-td {
		height: 40px;
		line-height: 1.5;
		align-self: center;
		border-right: 1px solid #b1b1b1;
		border-bottom: 1px solid #b1b1b1;
		.table-td-item {
			line-height: 20px;
		}

		.red {
			color: #FF4949;
		}
	}

	.al-m {
		line-height: 40px;
	}

}

.mask {
	position: fixed;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #fff;
	opacity: 0.75;
}

.mark-wrap {
	position: fixed;
	top: 100px;
	left: 50%;
	width: 360px;
	transform: translateX(-50%);
	background: #fff;
	.close {
		position: absolute;
		right: -8px;
		top: -8px;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		border-radius: 50%;
		background: #282828;
		color: #fff;
		font-size: 13px;
	}
	.head {
		padding-left: 15px;
		height: 40px;
		line-height: 40px;
		font-size: 15px;
		background: #222;
		color: #f4f4ff;
		text-align: center;
	}

	.main-wrap {
		font-size: 16px;
	}
}


