@import "../../assets/scss/support";

.search_result {
	color: #fff;
}

.result-content {
	padding:20px 20px 10px;
	font-size: 14px;
	background: #282828;
}

 .u-fl-l {
	 color: #f3f3f3;
 }

.profit-price {
	padding: 0 20px;
	height: 80px;
	line-height: 80px;
	font-size: 14px;
	border-top: 1px solid #f3f3f3;
	background: #282828;
	.percents {
		font-size: 30px;
		color: $colorRed;
	}
}


.button-wrap {
	padding: 25px 30px;

	.consult-btn {
		margin: 0 auto;
		width: 310px;
		height: 40px;
		background: #ff3300;
		color: #ffffff;
		font-size: 16px;
		border-radius: 10px;
		text-align: center;
		line-height: 40px;
		&:active {
			background: #FF4949;
		}
	}
}
